@page "/insights"

<PageTitle>Data Insights</PageTitle>

<h1>Data Insights</h1>
<p>Welcome to the Data Insights page. Here you can view various insights and analytics related to your clients and their
    activities.</p>